.infobox{
    flex:1;
    border-bottom: 7px solid rgb(187, 18, 6);
    
}

.infobox:not(:last-child) {
    margin-right: 10px;
    padding: 0px;
  }
  
  .infoBox__title{
      font-size: 5rem;
  }
  
  .infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infobox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    margin-top: 10px !important;
  }